RewriteEngine on
RewriteCond %{HTTPS} !=on [NC]
RewriteCond %{HTTP_HOST} ^raghuvaran.me [NC,OR]
RewriteCond %{HTTP_HOST} ^www.raghuvaran.me [NC]
RewriteRule ^(.*)$ https://raghuvaran.me/$1 [L,R=301,NC]
